button.red{
    background-color: red;
    font-size: medium;
    border-radius: 50%;
    transition-duration: 0.4s;
}
button.red:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
table, th, td {
    border: 1px solid;
    
  }
  .my-para{
    font-size: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .head{
    text-align: center;
  }
  #pic{
    size: 40%;
  }
 
